<% camps.each_with_index do |camp, index| %>
    <div class="col-lg-4 col-md-6 mb-4 camp-card <%= 'd-none' if index >= 3 %>">
      <div class="card h-100">
        <div id="carousel<%= camp[:id] %>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% camp[:images].each_with_index do |image, image_index| %>
              <div class="carousel-item <%= image_index == 0 ? 'active' : '' %>">
                <img src="<%= image[:url] %>" class="card-img-top" alt="<%= camp[:name] %>">
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= camp[:id] %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= camp[:id] %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= camp[:name] %></h5>
          <p class="card-text">Location: <%= camp[:location] %></p>
          <p class="card-text">Duration: <%= camp[:duration] %></p>
          
          <!-- Dropdown for selecting kilometers -->
          <div class="mb-3">
            <select id="select-<%= camp[:id] %>" class="form-select">
              <option value="11" data-price="<%= camp[:per_km]  %>">11 km</option>
              <option value="16" data-price="<%= camp[:per_km]  %>">16 km</option>
              <option value="24" data-price="<%= camp[:per_km]  %>">24 km</option>
            </select>
            <p id="price-<%= camp[:id] %>" class="mt-2">Price: <%= camp[:per_km] * 11 %></p>
          </div>
          
          <div class="mt-auto">
            <a href="camps/<%= camp[:id] %>" class="btn btn-custom me-2">View Details</a>
            <button class="btn btn-select">Select</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  

  
  <script>
  $(document).ready(function() {
    // Event listener for dropdown change
    $('[id^=select-]').change(function() {
      var campId = $(this).attr('id').split('-')[1];
      var selectedKm = $(this).val();
      var pricePerKm = $(this).find(':selected').data('price');
      var totalPrice = selectedKm * pricePerKm; // Calculate total price

      // Update price display
      $('#price-' + campId).text(`Price: ${totalPrice}`);
    });
  })

  </script>