<style>
.navbar {
    background-color: #1a1a1a !important;
    box-shadow: 0 2px 4px rgba(255,165,0,.1);
}

.navbar-brand {
    font-weight: 600;
    color: #ffa500 !important;
}

.nav-link {
    color: #f0f0f0 !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #8a2be2 !important;
}

.navbar-toggler {
    border-color: #ffa500;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 165, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler.cross .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 165, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6l18 18M6 24L24 6'/%3e%3c/svg%3e");
}

</style>

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <%= link_to "Adventure Awaits", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>

                <% if current_page?(root_path) %>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    
                    <% if current_user&.admin? || current_user&.camp_owner? %>
                    <li class="nav-item">
                        <%= link_to 'Admin Dashboard', custom_admin_dashboard_path, class: 'nav-link' %>
                    </li>
                    <% end %>
                <% end %>

                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Orders", "/bookings", class: "nav-link" %>
                    </li>

                    <li class="nav-item">
                        <span class="nav-link"><%= current_user.email %></span>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", data: { "turbo-method": :delete } %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var navbarToggler = document.querySelector('.navbar-toggler');
    var navbarCollapse = document.querySelector('.navbar-collapse');

    navbarToggler.addEventListener('click', function() {
        // Toggle the 'show' class on the navbar collapse
        navbarCollapse.classList.toggle('show');
        
        // Toggle the 'cross' class on the navbar toggler
        this.classList.toggle('cross');
        
        // Toggle the aria-expanded attribute
        var isExpanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', !isExpanded);
    });

    // Close navbar when clicking a nav link
    document.querySelectorAll('.nav-link').forEach(function(navLink) {
        navLink.addEventListener('click', function() {
            navbarCollapse.classList.remove('show');
            navbarToggler.classList.remove('cross');
            navbarToggler.setAttribute('aria-expanded', 'false');
        });
    });
});
</script>
